<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-Hans" lang="zh-Hans">
  <head>
    <meta charset="UTF-8" />
    <title>Yalong Bai's Homepage</title>
    <meta name="robots" content="all" />
    <meta name="author" content="Yalong Bai">
    <meta http-equiv="X-UA-Compatible" content="IE=100" />
    <link rel="stylesheet" type="text/css" href="/css/lemaoliu.css"/>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-106399297-1', 'auto');
    ga('send', 'pageview');

    </script>
    <script src="/javascripts/jquery/1.5.2/jquery.min.js"></script>
  </head>
  <body>
    <div class="outline"></div>
    <div class="container">
  		<div id="content">
<div class="about">
  <div class="profile">
    <img src="/css/img/ylbai.jpg" width="350" alt>
    <div class="info">
      <div class="first-name">Yalong</div>
      <div class="last-name">Bai</div>
      <p class="extra-info">Ph.D. Student</p>
      <p class="extra-info">Machine Intelligence & Translation Lab</p>
      <p class="extra-info">School of Computer Science and Technology</p>
      <p class="extra-info">Harbin institute of Technology</p>
      <div class="label-inline">
        <div class="item">E-MAIL: </div> 
        <p>ylbai AT outlook DOT com</p>
	<div class="item">Address: </div>
	<p>Microsoft Research Asia</p>
	<div class="item"> &nbsp; </div>
	<p>Building 2, No. 5 Dan Ling Street, Haidian District</p>
	<div class="item"> &nbsp; </div>
	<p>Beijing, P.R. China </p>
      </div>
    </div>
  </div>
  <div class="about-page">
    <div class="line-1">
      <h1>Education</h1>
	<li>2008.8 -- 2012.7: B.S. in Computer Science and Technology, School of Computer Science And Technology, Harbin Institute of Technology</li>
	<li>2012.8 -- 2014.7: M.S. in Computer Science and Technology, School of Computer Science And Technology, Harbin Institute of Technology. Supervisor: Tiejun Zhao</li> 
    <li>2014.8 -- now: Joint education Ph.D. of Microsoft Research Asia and Harbin Institute of Technology. My Ph.D. supervisor is <a href="http://research.microsoft.com/en-us/people/wyma/">Wei-Ying Ma</a> and Tiejun Zhao</li>
    </div>
    <div class="line-2">
      <h1>Selected Honors</h1>
      <li><b>Rank 1st</b> in the track of without using extra data and 2nd in all teams at MSR Image Recognition Challenge @ IEEE ICME 2016</li>
      <li>ACM Multimedia 2015 Student Travel Grant</li>
      <li><b>First Place</b> in MSR-Bing Image Retreival Challenge at ACM MM 2014.</li>
    </div>
   <div class="line-3">
	<h1>Social practice and Work Experience</h1>
	<h2>Microsoft Research Asia, Web Search and Mining Group (2013.06 -- Now)</h2>
	<p>I am an intern working on deep learning for image representation and computer vision. </p>
	<h2>Microsoft Research Asia, Web Search and Data Mining Group (2012.01-2012-07)</h2>
    <p>I was hired as a research intern working on document retrieval results re-ranking.</p>
  </div>

    <div class="line-4">
      <section>
      <h1>Publications</h1>
      <li>Chang Xu, Tao Qin, <b>Yalong Bai</b>, Gang Wang, Tie-Yan Liu. Convolutional Neural Networks For Posed and Spontaneous Expression Recognition. IEEE International Conference on Multimedia and Expo, 2017</li>
      <li>Guotian Xie, Kuiyuan Yang, <b>Yalong Bai</b>, Min Shang, Yong Rui, Jianhuang Lai. Improve Dog Recognition By Mining More Information From Both Click-through Logs and Pre-trained Models. IEEE International Conference on Multimedia & Expo Workshops, 2016 [<a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxrdWl5dWFueWFuZ3xneDpjNDA0OTQ4NWIwOGE5Mzg">pdf</a>]</li>
      <li><b>Yalong Bai</b>, Kuiyuan Yang, Wei Yu, Chang Xu, Wei-Ying Ma, Tiejun Zhao. Automatic Image Dataset Construction from Click-through Logs Using Deep Neural Network. Full Paper, ACM MultiMedia, 2015 [<a href="/autoset">Dataset Download</a>] </li>
      <li>Wei Yu, Kuiyuan Yang, <b>Yalong Bai</b>, Hongxun Yao, Yong Rui. Learning Cross Space Mapping via DNN using Large Scale Click-through Logs. IEEE Transactions on Multimedia, 2015.</li>
      <li>Wei Yu, Kuiyuan Yang, <b>Yalong Bai</b>, Hongxun Yao, Yong Rui. Visualizing and Comparing Convolutional Neural Networks.</li>
      <li>Chang Xu, <b>Yalong Bai</b>, Jiang Bian, Bin Gao, Gang Wang, Xiaoguang Liu, Tie-Yan Liu. RC-NET: A General Framework for Incorporating Knowledge into Word Representations. CIKM, 2014 [<a href="/km0814-xu.pdf">pdf</a>]</li>
      <li><b>Yalong Bai</b>, Wei Yu, Tianjun Xiao, Chang Xu, Kuiyuan Yang, Wei-Ying Ma, Tiejun Zhao. Bag-of-Words Based Deep Neural Network for Image Retrieval. Short Paper. ACM MultiMedia, 2014 [<a href="/grand04_bowdnn_yalongbai.pdf">pdf</a>]</li>
      <li>Wei Yu, Kuiyuan Yang, <b>Yalong Bai</b>, Hongxun Yao, Yong Rui. DNN Flow: DNN feature pyramid based image matching. BMVC, 2014.</li>
      <li><b>Yalong Bai</b>, Kuiyuan Yang, Wei Yu, Wei-Ying Ma, Tiejun Zhao. Learning High-level Image Representation for Image Retrieval via Multi-Task DNN using Clickthrough Data. ICLR, 2014.</li>
      <li>Mo Yu, Tiejun Zhao and <b>Yalong Bai</b>, Hao Tian, Dianhai Yu. Cross-lingual Projections between Languages from different Families. ACL2013 short paper. </li>
      <li>Mo Yu, Tiejun Zhao, <b>Yalong Bai</b>. Learning Domain Differences Automatically for Dependency Parsing Adaptation. IJCAI 2013 poster.</li>
      </section>
<!--
    <div class="line-5">
      <section id="internet-footprint">
      <h1>Downloads</h1>
      <p><a href="/download1">Parser</a> - parser.<br />
      <a href="http://www.pixiv.net/member.php?id=4798189">SVM</a> - write something.
      </p>
      </section>
    </div>
-->
  </div>
</div>
  		</div>
    </div>
  </body>
</html>
